@import url('<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">');

img {
    width: 200px;
}

a {
    color: limegreen;
}

html {
    display: flex;
    align-items: center;
}

@import url('<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">');

img {
    width: 200px;
}

a {
    color: limegreen;
}

html {
    display: flex;
    align-items: center;
}

body {
    width: 100%;
    margin: 24px;
    font-family: 'Roboto Mono', monospace;
    color: lightblue;
    background-color: black;
}

.story-container {
    display: none;
    border-radius: 0px;
    background-color: #3f3f3f;
    padding: 24px;
    min-height: 200px;
    border: 8px gray inset;
}

.story {
    text-align: center;
    background-color: #4b5669;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: antiqueWhite;
    color: black;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;

}